<div class="jumbotron" style="position: relative;">
    <div class="text-center">
        <h1 class="display-4">Rima Bouazra</h1>
        <h3>Software Engeneering Student</h3>
    </div>

    <div style="position: absolute;bottom: 5px;right: 10px;">
        <a href="https://github.com/rimabouazra" target="_blank" class="">
            <img src="../../assets/git.jpeg" width="24" height="24" class="rounded-circle me-2">
        </a>
        <a href="https://www.linkedin.com/in/rima-bouazra-8b973b274/" target="_blank" class="">
            <img src="../../assets/linkedin.png" width="24" height="24" class="rounded-circle me-2">
        </a>
        <a href="https://www.facebook.com/profile.php?id=100071416706830" target="_blank" class="">
            <img src="../../assets/facebook.png" width="24" height="24" class="rounded-circle me-2">
        </a>
    </div>
</div>
<nav class="navbar-expand-md navbar-light bg-light border-bottom mb-3">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav justify-content-center mx-auto">
                <li class="nav-item">
                    <a class="nav-link text-secondary" routerLink="/home" routerLinkActive="text-dark" [routerLinkActiveOptions]="{ exact: true }">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-secondary" routerLink="/portfolio" routerLinkActive="text-dark" [routerLinkActiveOptions]="{ exact: true }">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-secondary" routerLink="/resume" routerLinkActive="text-dark" [routerLinkActiveOptions]="{ exact: true }">Resume</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-secondary" routerLink="/contact" routerLinkActive="text-dark" [routerLinkActiveOptions]="{ exact: true }">contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>