<div class="container">
    <div class="text-center shadow rounded border mb-5">
        <h1>Contact</h1>
        <p>I can be reached at the followi,g e-mail <b>rima.bouazra.2003&#64;gmail.com </b> </p>
        <p>Feel free to connect with me on any of the following plateforms:</p>
    </div>


    <div class="list-group shadow">
        <a href="https://github.com/rimabouazra" target="_blank" class="list-grep-item list-group-item-action d-flex gap-3 py-3">
            <img src="../../assets/git.jpeg" width="32" height="32" class="rounded-circle flex-shrink-0 me-5">
            <h3 class="mb-0">Github</h3>
        </a>
        <a href="https://www.linkedin.com/in/rima-bouazra-8b973b274/" target="_blank" class="list-grep-item list-group-item-action d-flex gap-3 py-3">
            <img src="../../assets/linkedin.png" width="32" height="32" class="rounded-circle flex-shrink-0 me-5">
            <h3 class="mb-0">LinkedIn </h3>
        </a>
        <a href="https://www.facebook.com/profile.php?id=100071416706830" target="_blank" class="list-grep-item list-group-item-action d-flex gap-3 py-3">
            <img src="../../assets/facebook.png" width="32" height="32" class="rounded-circle flex-shrink-0 me-5">
            <h3 class="mb-0">Facebook</h3>
        </a>
    </div>
</div>
