<div class="container">
    <div class="mb-2">
        <div>
            <button class="btn btn-outline-primary mb-2 me-2" (click)="isCollapsed=!isCollapsed">Filter</button>
            <button class="btn btn-outline-secondary mb-2" (click)="ResetFilters()" [hidden]="!filtering">Reset</button>
        </div>
        <div [collapse]="isCollapsed" [isAnimated]="true">
            <div class="border mb-2 shadow-sm" style="width: 250px;">
                <form>
                    <div class="row mx-0">
                        <div class="col">
                            <small><b>Languages:</b></small>
                            <div class="form-group">
                                <div class="form-check">
                                    <input 
                                    type="checkbox" 
                                    class="form-check-input position-static me-2"
                                    [(ngModel)]="typescript"
                                    (change)="Filter()"
                                    name="Typescript">
                                    <label class="form-check-label small">TypeScript</label>
                                </div>
                                <div class="form-check">
                                    <input 
                                    type="checkbox" 
                                    class="form-check-input position-static me-2"
                                    [(ngModel)]="javascript"
                                    (change)="Filter()"
                                    name="Javascript">
                                    <label class="form-check-label small">JavaScript</label>
                                </div>
                                <div class="form-check">
                                    <input 
                                    type="checkbox" 
                                    class="form-check-input position-static me-2"
                                    [(ngModel)]="csharp"
                                    (change)="Filter()"
                                    name="Csharp">
                                    <label class="form-check-label small">C#</label>
                                </div>
                                <div class="form-check">
                                    <input 
                                    type="checkbox" 
                                    class="form-check-input position-static me-2"
                                    [(ngModel)]="python"
                                    (change)="Filter()"
                                    name="Python">
                                    <label class="form-check-label small">python</label>
                                </div>
                                <div class="form-check">
                                    <input 
                                    type="checkbox" 
                                    class="form-check-input position-static me-2"
                                    [(ngModel)]="java"
                                    (change)="Filter()"
                                    name="Java">
                                    <label class="form-check-label small">Java</label>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <small><b>Frameworks:</b></small>
                            <div class="form-group">
                                <div class="form-check">
                                    <input 
                                    type="checkbox" 
                                    class="form-check-input position-static me-2"
                                    [(ngModel)]="angular"
                                    (change)="Filter()"
                                    name="Angular">
                                    <label class="form-check-label small">Angular</label>
                                </div>
                                <div class="form-check">
                                    <input 
                                    type="checkbox" 
                                    class="form-check-input position-static me-2"
                                    [(ngModel)]="react"
                                    (change)="Filter()"
                                    name="React">
                                    <label class="form-check-label small">React</label>
                                </div>
                                <div class="form-check">
                                    <input 
                                    type="checkbox" 
                                    class="form-check-input position-static me-2"
                                    [(ngModel)]="aspnet"
                                    (change)="Filter()"
                                    name="Aspnet">
                                    <label class="form-check-label small">ASP.NET</label>
                                </div>
                                <div class="form-check">
                                    <input 
                                    type="checkbox" 
                                    class="form-check-input position-static me-2"
                                    [(ngModel)]="nodejs"
                                    (change)="Filter()"
                                    name="Nodejs">
                                    <label class="form-check-label small">Node.JS</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <div class="row">
        <div *ngFor="let project of projects" class="col-lg-4 col-md-6 mb-4 "  style="max-width: 380px;min-width:380px;">
            <div class="shadow text-center card" style="max-width: 350px;min-width:350px;">
                <div class="card-body">
                    <h5 class="card-title">{{ project.name }}</h5>
                    <p class="card-text">{{ project.summary }}</p>
                    <button class="btn btn-primary" (click)="openProjectModal(project)">View More</button>
                </div>
                <div class="card-footer">
                    <div class="d-flex flex-wrap justify-content-center">
                        <div class="tag me-2 mb-1" *ngFor="let tag of project.tags" [style.background-color]="tag.color">{{ tag }}</div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
</div>